{% extends 'users/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1>Generate Image</h1>
    <form id="imageForm" method="post" enctype="multipart/form-data" class="mb-3">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="input" id="input" class="form-control" placeholder="Enter description for the image">
        </div>
        <button type="submit" class="btn btn-primary">Generate Image</button>
    </form>

    <div id="loadingContainer" style="display: none;">
        <span>Loading...</span>
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
        </div>
    </div>

    <div id="imageContainer" class="mt-4 d-flex justify-content-center align-items-center" style="min-height: 200px;">
        <!-- The image will be added here dynamically -->
    </div>
</div>

<script>
document.getElementById('imageForm').addEventListener('submit', function(e) {
    e.preventDefault();
    var formData = new FormData(this);

    // Show the loading spinner when the form is submitted
    var loadingContainer = document.getElementById('loadingContainer');
    loadingContainer.style.display = 'block';

    fetch("{% url 'generate_image' %}", {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
        },
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        if (data.success) {
            var imageContainer = document.getElementById('imageContainer');
            imageContainer.innerHTML = '<img src="' + data.image_url + '" alt="Generated Image" class="img-fluid mx-auto" style="display: block; max-width: 100%;">';
        } else {
            alert('Error: ' + data.error);
        }
        // Hide the loading spinner when the request is completed
        loadingContainer.style.display = 'none';
    })
    .catch(error => {
        // Hide the loading spinner if there's a network error
        loadingContainer.style.display = 'none';
        alert('Network Error: ' + error.message);
    });
});
</script>

{% endblock %}
