{% extends 'users/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <img src="{{ user.profile.image.url }}" alt="Profile Picture" class="img-thumbnail rounded-circle" style="width: 150px; height: 150px; object-fit: cover;">
            <h3 class="mt-3">{{ user.username }}</h3>
            <!-- Update Profile Button -->
            <a href="{% url 'profile_update' %}" class="btn btn-primary mt-4">Update Profile</a>
        </div>
    </div>
</div>
{% endblock %}
