{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Task Form{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form method="post" action="">
        {% csrf_token %}
        {{ form.title|as_crispy_field }}
        {{ form.content|as_crispy_field }}
        {{ form.date_start|as_crispy_field }}
        {{ form.date_end|as_crispy_field }}
        {{ form.color|as_crispy_field }}

        <!-- Displaying non-field errors -->
        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              <p>{{ error }}</p>
            {% endfor %}
          </div>
        {% endif %}

        <!-- Displaying field specific errors -->
        {% for field in form %}
          {% if field.errors %}
            <div class="alert alert-danger" role="alert">
              {{ field.errors }}
            </div>
          {% endif %}
        {% endfor %}

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
